HotelSanJavier/HotelSanJavaierWeb/Web References/referencia1/HotelSanJavier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClients">
        <s:complexType />
      </s:element>
      <s:element name="getClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReceptionists">
        <s:complexType />
      </s:element>
      <s:element name="getReceptionistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReceptionistsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientsByReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReceptionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientsByReceptionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientsByReceptionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginClientResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReceptionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReceptionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReceptionistById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReceptionistByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReceptionistByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginReceptionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginReceptionistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dniClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReservetionsByClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idReceptionist" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByReceptionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReservetionsByReceptionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReservetionsByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllReservetions">
        <s:complexType />
      </s:element>
      <s:element name="getAllReservetionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllReservetionsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telephone" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_receptionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="addReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni_client" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_receptionist" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entry_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exit_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_room" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReservationResponse">
        <s:complexType />
      </s:element>
      <s:element name="addRecepcionists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addRecepcionistsResponse">
        <s:complexType />
      </s:element>
      <s:element name="editRecepcionists">
        <s:complexType />
      </s:element>
      <s:element name="editRecepcionistsResponse">
        <s:complexType />
      </s:element>
      <s:element name="editClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telephone" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_receptionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="editReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReservation" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="dni_client" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_receptionist" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="entry_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exit_date" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id_room" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editReservationResponse">
        <s:complexType />
      </s:element>
      <s:element name="removeRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReceptionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeRecepcionistResponse">
        <s:complexType />
      </s:element>
      <s:element name="removeClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dniClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="removeReservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idReservation" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="removeReservationResponse">
        <s:complexType />
      </s:element>
      <s:element name="editReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="last_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rol" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editReceptionistResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getClientsSoapIn">
    <wsdl:part name="parameters" element="tns:getClients" />
  </wsdl:message>
  <wsdl:message name="getClientsSoapOut">
    <wsdl:part name="parameters" element="tns:getClientsResponse" />
  </wsdl:message>
  <wsdl:message name="getReceptionistsSoapIn">
    <wsdl:part name="parameters" element="tns:getReceptionists" />
  </wsdl:message>
  <wsdl:message name="getReceptionistsSoapOut">
    <wsdl:part name="parameters" element="tns:getReceptionistsResponse" />
  </wsdl:message>
  <wsdl:message name="getClientsByReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:getClientsByReceptionist" />
  </wsdl:message>
  <wsdl:message name="getClientsByReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:getClientsByReceptionistResponse" />
  </wsdl:message>
  <wsdl:message name="loginClientSoapIn">
    <wsdl:part name="parameters" element="tns:loginClient" />
  </wsdl:message>
  <wsdl:message name="loginClientSoapOut">
    <wsdl:part name="parameters" element="tns:loginClientResponse" />
  </wsdl:message>
  <wsdl:message name="getClientSoapIn">
    <wsdl:part name="parameters" element="tns:getClient" />
  </wsdl:message>
  <wsdl:message name="getClientSoapOut">
    <wsdl:part name="parameters" element="tns:getClientResponse" />
  </wsdl:message>
  <wsdl:message name="getReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:getReceptionist" />
  </wsdl:message>
  <wsdl:message name="getReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:getReceptionistResponse" />
  </wsdl:message>
  <wsdl:message name="getReceptionistByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getReceptionistById" />
  </wsdl:message>
  <wsdl:message name="getReceptionistByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getReceptionistByIdResponse" />
  </wsdl:message>
  <wsdl:message name="loginReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:loginReceptionist" />
  </wsdl:message>
  <wsdl:message name="loginReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:loginReceptionistResponse" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByClientSoapIn">
    <wsdl:part name="parameters" element="tns:getReservetionsByClient" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByClientSoapOut">
    <wsdl:part name="parameters" element="tns:getReservetionsByClientResponse" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:getReservetionsByReceptionist" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:getReservetionsByReceptionistResponse" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getReservetionsById" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getReservetionsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllReservetionsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllReservetions" />
  </wsdl:message>
  <wsdl:message name="getAllReservetionsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllReservetionsResponse" />
  </wsdl:message>
  <wsdl:message name="addClientSoapIn">
    <wsdl:part name="parameters" element="tns:addClient" />
  </wsdl:message>
  <wsdl:message name="addClientSoapOut">
    <wsdl:part name="parameters" element="tns:addClientResponse" />
  </wsdl:message>
  <wsdl:message name="addReservationSoapIn">
    <wsdl:part name="parameters" element="tns:addReservation" />
  </wsdl:message>
  <wsdl:message name="addReservationSoapOut">
    <wsdl:part name="parameters" element="tns:addReservationResponse" />
  </wsdl:message>
  <wsdl:message name="addRecepcionistsSoapIn">
    <wsdl:part name="parameters" element="tns:addRecepcionists" />
  </wsdl:message>
  <wsdl:message name="addRecepcionistsSoapOut">
    <wsdl:part name="parameters" element="tns:addRecepcionistsResponse" />
  </wsdl:message>
  <wsdl:message name="editRecepcionistsSoapIn">
    <wsdl:part name="parameters" element="tns:editRecepcionists" />
  </wsdl:message>
  <wsdl:message name="editRecepcionistsSoapOut">
    <wsdl:part name="parameters" element="tns:editRecepcionistsResponse" />
  </wsdl:message>
  <wsdl:message name="editClientSoapIn">
    <wsdl:part name="parameters" element="tns:editClient" />
  </wsdl:message>
  <wsdl:message name="editClientSoapOut">
    <wsdl:part name="parameters" element="tns:editClientResponse" />
  </wsdl:message>
  <wsdl:message name="editReservationSoapIn">
    <wsdl:part name="parameters" element="tns:editReservation" />
  </wsdl:message>
  <wsdl:message name="editReservationSoapOut">
    <wsdl:part name="parameters" element="tns:editReservationResponse" />
  </wsdl:message>
  <wsdl:message name="removeRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:removeRecepcionist" />
  </wsdl:message>
  <wsdl:message name="removeRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:removeRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="removeClientSoapIn">
    <wsdl:part name="parameters" element="tns:removeClient" />
  </wsdl:message>
  <wsdl:message name="removeClientSoapOut">
    <wsdl:part name="parameters" element="tns:removeClientResponse" />
  </wsdl:message>
  <wsdl:message name="removeReservationSoapIn">
    <wsdl:part name="parameters" element="tns:removeReservation" />
  </wsdl:message>
  <wsdl:message name="removeReservationSoapOut">
    <wsdl:part name="parameters" element="tns:removeReservationResponse" />
  </wsdl:message>
  <wsdl:message name="editReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:editReceptionist" />
  </wsdl:message>
  <wsdl:message name="editReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:editReceptionistResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelSanJavierSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <wsdl:input message="tns:getClientsSoapIn" />
      <wsdl:output message="tns:getClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReceptionists">
      <wsdl:input message="tns:getReceptionistsSoapIn" />
      <wsdl:output message="tns:getReceptionistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClientsByReceptionist">
      <wsdl:input message="tns:getClientsByReceptionistSoapIn" />
      <wsdl:output message="tns:getClientsByReceptionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <wsdl:input message="tns:loginClientSoapIn" />
      <wsdl:output message="tns:loginClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <wsdl:input message="tns:getClientSoapIn" />
      <wsdl:output message="tns:getClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReceptionist">
      <wsdl:input message="tns:getReceptionistSoapIn" />
      <wsdl:output message="tns:getReceptionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReceptionistById">
      <wsdl:input message="tns:getReceptionistByIdSoapIn" />
      <wsdl:output message="tns:getReceptionistByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <wsdl:input message="tns:loginReceptionistSoapIn" />
      <wsdl:output message="tns:loginReceptionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <wsdl:input message="tns:getReservetionsByClientSoapIn" />
      <wsdl:output message="tns:getReservetionsByClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByReceptionist">
      <wsdl:input message="tns:getReservetionsByReceptionistSoapIn" />
      <wsdl:output message="tns:getReservetionsByReceptionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReservetionsById">
      <wsdl:input message="tns:getReservetionsByIdSoapIn" />
      <wsdl:output message="tns:getReservetionsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllReservetions">
      <wsdl:input message="tns:getAllReservetionsSoapIn" />
      <wsdl:output message="tns:getAllReservetionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <wsdl:input message="tns:addClientSoapIn" />
      <wsdl:output message="tns:addClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <wsdl:input message="tns:addReservationSoapIn" />
      <wsdl:output message="tns:addReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addRecepcionists">
      <wsdl:input message="tns:addRecepcionistsSoapIn" />
      <wsdl:output message="tns:addRecepcionistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editRecepcionists">
      <wsdl:input message="tns:editRecepcionistsSoapIn" />
      <wsdl:output message="tns:editRecepcionistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editClient">
      <wsdl:input message="tns:editClientSoapIn" />
      <wsdl:output message="tns:editClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <wsdl:input message="tns:editReservationSoapIn" />
      <wsdl:output message="tns:editReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeRecepcionist">
      <wsdl:input message="tns:removeRecepcionistSoapIn" />
      <wsdl:output message="tns:removeRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeClient">
      <wsdl:input message="tns:removeClientSoapIn" />
      <wsdl:output message="tns:removeClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="removeReservation">
      <wsdl:input message="tns:removeReservationSoapIn" />
      <wsdl:output message="tns:removeReservationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editReceptionist">
      <wsdl:input message="tns:editReceptionistSoapIn" />
      <wsdl:output message="tns:editReceptionistSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelSanJavierSoap" type="tns:HotelSanJavierSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <soap:operation soapAction="http://tempuri.org/getClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionists">
      <soap:operation soapAction="http://tempuri.org/getReceptionists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientsByReceptionist">
      <soap:operation soapAction="http://tempuri.org/getClientsByReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <soap:operation soapAction="http://tempuri.org/loginClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <soap:operation soapAction="http://tempuri.org/getClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionist">
      <soap:operation soapAction="http://tempuri.org/getReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionistById">
      <soap:operation soapAction="http://tempuri.org/getReceptionistById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <soap:operation soapAction="http://tempuri.org/loginReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <soap:operation soapAction="http://tempuri.org/getReservetionsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByReceptionist">
      <soap:operation soapAction="http://tempuri.org/getReservetionsByReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsById">
      <soap:operation soapAction="http://tempuri.org/getReservetionsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReservetions">
      <soap:operation soapAction="http://tempuri.org/getAllReservetions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap:operation soapAction="http://tempuri.org/addReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRecepcionists">
      <soap:operation soapAction="http://tempuri.org/addRecepcionists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editRecepcionists">
      <soap:operation soapAction="http://tempuri.org/editRecepcionists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editClient">
      <soap:operation soapAction="http://tempuri.org/editClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <soap:operation soapAction="http://tempuri.org/editReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRecepcionist">
      <soap:operation soapAction="http://tempuri.org/removeRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeClient">
      <soap:operation soapAction="http://tempuri.org/removeClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeReservation">
      <soap:operation soapAction="http://tempuri.org/removeReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReceptionist">
      <soap:operation soapAction="http://tempuri.org/editReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelSanJavierSoap12" type="tns:HotelSanJavierSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <soap12:operation soapAction="http://tempuri.org/getClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionists">
      <soap12:operation soapAction="http://tempuri.org/getReceptionists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientsByReceptionist">
      <soap12:operation soapAction="http://tempuri.org/getClientsByReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <soap12:operation soapAction="http://tempuri.org/loginClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <soap12:operation soapAction="http://tempuri.org/getClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionist">
      <soap12:operation soapAction="http://tempuri.org/getReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReceptionistById">
      <soap12:operation soapAction="http://tempuri.org/getReceptionistById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <soap12:operation soapAction="http://tempuri.org/loginReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <soap12:operation soapAction="http://tempuri.org/getReservetionsByClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByReceptionist">
      <soap12:operation soapAction="http://tempuri.org/getReservetionsByReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsById">
      <soap12:operation soapAction="http://tempuri.org/getReservetionsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllReservetions">
      <soap12:operation soapAction="http://tempuri.org/getAllReservetions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap12:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap12:operation soapAction="http://tempuri.org/addReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRecepcionists">
      <soap12:operation soapAction="http://tempuri.org/addRecepcionists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editRecepcionists">
      <soap12:operation soapAction="http://tempuri.org/editRecepcionists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editClient">
      <soap12:operation soapAction="http://tempuri.org/editClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReservation">
      <soap12:operation soapAction="http://tempuri.org/editReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/removeRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeClient">
      <soap12:operation soapAction="http://tempuri.org/removeClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeReservation">
      <soap12:operation soapAction="http://tempuri.org/removeReservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editReceptionist">
      <soap12:operation soapAction="http://tempuri.org/editReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelSanJavier">
    <wsdl:port name="HotelSanJavierSoap" binding="tns:HotelSanJavierSoap">
      <soap:address location="https://localhost:44384/HotelSanJavier.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelSanJavierSoap12" binding="tns:HotelSanJavierSoap12">
      <soap12:address location="https://localhost:44384/HotelSanJavier.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>