HotelSanJavier/HotelSanJavaierWeb/Web References/referencia1/HotelSanJavier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClients">
        <s:complexType />
      </s:element>
      <s:element name="getClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginClientResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginReceptionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dni" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginReceptionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginReceptionistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dniClient" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getReservetionsByClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getReservetionsByClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getClientsSoapIn">
    <wsdl:part name="parameters" element="tns:getClients" />
  </wsdl:message>
  <wsdl:message name="getClientsSoapOut">
    <wsdl:part name="parameters" element="tns:getClientsResponse" />
  </wsdl:message>
  <wsdl:message name="loginClientSoapIn">
    <wsdl:part name="parameters" element="tns:loginClient" />
  </wsdl:message>
  <wsdl:message name="loginClientSoapOut">
    <wsdl:part name="parameters" element="tns:loginClientResponse" />
  </wsdl:message>
  <wsdl:message name="getClientSoapIn">
    <wsdl:part name="parameters" element="tns:getClient" />
  </wsdl:message>
  <wsdl:message name="getClientSoapOut">
    <wsdl:part name="parameters" element="tns:getClientResponse" />
  </wsdl:message>
  <wsdl:message name="loginReceptionistSoapIn">
    <wsdl:part name="parameters" element="tns:loginReceptionist" />
  </wsdl:message>
  <wsdl:message name="loginReceptionistSoapOut">
    <wsdl:part name="parameters" element="tns:loginReceptionistResponse" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByClientSoapIn">
    <wsdl:part name="parameters" element="tns:getReservetionsByClient" />
  </wsdl:message>
  <wsdl:message name="getReservetionsByClientSoapOut">
    <wsdl:part name="parameters" element="tns:getReservetionsByClientResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelSanJavierSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <wsdl:input message="tns:getClientsSoapIn" />
      <wsdl:output message="tns:getClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <wsdl:input message="tns:loginClientSoapIn" />
      <wsdl:output message="tns:loginClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <wsdl:input message="tns:getClientSoapIn" />
      <wsdl:output message="tns:getClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <wsdl:input message="tns:loginReceptionistSoapIn" />
      <wsdl:output message="tns:loginReceptionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <wsdl:input message="tns:getReservetionsByClientSoapIn" />
      <wsdl:output message="tns:getReservetionsByClientSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HotelSanJavierSoap" type="tns:HotelSanJavierSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <soap:operation soapAction="http://tempuri.org/getClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <soap:operation soapAction="http://tempuri.org/loginClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <soap:operation soapAction="http://tempuri.org/getClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <soap:operation soapAction="http://tempuri.org/loginReceptionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <soap:operation soapAction="http://tempuri.org/getReservetionsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HotelSanJavierSoap12" type="tns:HotelSanJavierSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClients">
      <soap12:operation soapAction="http://tempuri.org/getClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginClient">
      <soap12:operation soapAction="http://tempuri.org/loginClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClient">
      <soap12:operation soapAction="http://tempuri.org/getClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginReceptionist">
      <soap12:operation soapAction="http://tempuri.org/loginReceptionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservetionsByClient">
      <soap12:operation soapAction="http://tempuri.org/getReservetionsByClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelSanJavier">
    <wsdl:port name="HotelSanJavierSoap" binding="tns:HotelSanJavierSoap">
      <soap:address location="https://localhost:44384/HotelSanJavier.asmx" />
    </wsdl:port>
    <wsdl:port name="HotelSanJavierSoap12" binding="tns:HotelSanJavierSoap12">
      <soap12:address location="https://localhost:44384/HotelSanJavier.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>